<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minishop.repository.mybatis.ItemMapper">
    <!-- SELECT -->
    <select id="findById" parameterType="long" resultType="Items">
        SELECT id, name, price, stock_quantity
        FROM items
        WHERE id = #{id}
    </select>

    <select id="findByName" resultType="Items">
        select * from items where name = #{itemName}
    </select>

    <!-- INSERT -->
    <insert id="saveItem" parameterType="Items" useGeneratedKeys="true" keyProperty="id">
        insert into items (name, price, stock_quantity)
        VALUES (#{name}, #{price}, #{stockQuantity})
    </insert>

    <!-- UPDATE -->
    <update id="updateItem">
        update items
        set name = #{item.name},
            price =#{item.price},
            stock_quantity = #{item.stockQuantity}
        where id = #{id}
    </update>

    <!-- delete -->
    <delete id="deleteItem">
        delete from items where id = #{id}
    </delete>
</mapper>