<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minishop.repository.mybatis.mapper.ItemMapper">

    <!-- ===========================
          SELECT
    ============================ -->

    <select id="findById" parameterType="long" resultType="Items">
        SELECT id, name, price, stock_quantity
        FROM items
        WHERE id = #{id}
    </select>

    <!-- findByName(String itemName) -->
    <select id="findByName" parameterType="string" resultType="Items">
        SELECT id, name, price, stock_quantity
        FROM items
        WHERE name = #{itemName}
    </select>

    <select id="findAll" resultType="Items">
        SELECT id, name, price, stock_quantity
        FROM items
    </select>

    <!-- ===========================
          INSERT
    ============================ -->

    <insert id="saveItem" parameterType="Items" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO items (name, price, stock_quantity)
        VALUES (#{name}, #{price}, #{stockQuantity})
    </insert>

    <!-- ===========================
          UPDATE
    ============================ -->

    <!-- updateItem(@Param("id"), @Param("item")) -->
    <update id="updateItem">
        UPDATE items
        SET
        name = #{item.name},
        price = #{item.price},
        stock_quantity = #{item.stockQuantity}
        WHERE id = #{id}
    </update>

    <!-- update(Items dbItem) -->
    <update id="update" parameterType="Items">
        UPDATE items
        SET
        stock_quantity = #{stockQuantity},
        price = #{price}
        WHERE id = #{id}
    </update>

    <!-- updateStock(Items dbItem) -->
    <update id="updateStock" parameterType="Items">
        UPDATE items
        SET stock_quantity = #{stockQuantity}
        WHERE id = #{id}
    </update>

    <!-- ===========================
          DELETE
    ============================ -->

    <delete id="deleteItem" parameterType="long">
        DELETE FROM items
        WHERE id = #{id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM items
    </delete>

</mapper>
